.link {
    color: var(--snow);
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
    text-decoration: none;
    display: inline-block; 
    transition: transform 0.2s ease;
}

.link:hover {
    opacity: .6;
}