:root {
  --primary-font: 'Figtree', sans-serif;
  --snow: #FFFFFF;
  --noir: #000000;
  --grey: #E2E2E2;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--snow);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




